<div class="content" role="main">
  <mat-jumbotron>
    <mat-jumbotron-content>
      <p class="header">
        <span>{{title}}</span>
      </p>
      <p class="headline" ngClass.xs="text-center">
        We &lt;3 hacker news!
      </p>
    </mat-jumbotron-content>
  </mat-jumbotron>

  <br>

  <div>
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="title">
        <td mat-cell *matCellDef="let element" (click)="navigateTo(element)"> {{element.title}} <span
            class="author">&nbsp; &nbsp;- {{element.author}} -</span></td>
      </ng-container>

      <ng-container matColumnDef="created_at">
        <td mat-cell *matCellDef="let element"> {{element.created_at | dateFormater}} </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <td mat-cell *matCellDef="let row">
          <a *ngIf="!spiner">
            <mat-icon class="mat-18" (click)="delete(row)">delete</mat-icon>
          </a>

          <a [hidden]="!spiner">
            <mat-icon class="mat-18">autorenew</mat-icon>
          </a>
        </td>
      </ng-container>

      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>